{% extends "base.html" %}
{% block head %}
<title>Register</title>
{% endblock %}

{% block content %}
<center>
  <h2> Register an account </h2>

  <!-- form to register an account -->
  <form action="/register" method="POST">
    Username: <input type="text" name="username"> <br>
    Password: <input type="password" name="password"> <br>
    Confirm password <input type="password" name="password2"> <br>
    <input type="submit" name="register">
  </form>

  <!-- Displays error in case of existing user or non matching passwords -->
  {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
      {% if each %}
        <strong> Uh oh there was an error, {{each}}</strong>
        {% endif %}
  {% endfor %}
  <p> Already have an account? Log In <a href = "/login"> here! </a> </p>
</center>
{% endblock %}

{% block footer %}
{% endblock %}
