{% extends "base.html" %}
{% block head %}
<title>Profile Page</title>
{% endblock %}

{% block content %}
<center>
  <!-- Checks for error messages and displays if an error is encountered -->
  <!-- Also used to show success messages, e.g. story successfully created -->
  {% set msgs = get_flashed_messages() %}
  {% for each in msgs %}
    {% if each %}
      <strong> {{each}}</strong><br><br>
    {% endif %}
  {% endfor %}

  Welcome <strong>{{username}}</strong> <br><br>

  <h2>Stories contributed to: </h2>

  <!-- shows titles of stories you've contributed to -->
  <!-- loops through stories you've contributed to and shows their titles-->
  <!-- story[0] is the id, story[1] is the title -->
  {% if storyList %}
    {% for story in storyList %}
      <a href="/view/{{story[0]}}">{{story[1]}}</a><br>
    {% endfor %}
  {% endif %}

  {% if not storyList %}
    You haven't contributed to any stories yet. Get started by creating a new story or adding to an existing one!
  {% endif %}

  <h2> Contribute more stories using the two options below! </h2>
  <!-- Link to create a new story  -->
  <a href="/add">Create a new story!</a><br><br>
  <!-- Link to edit a story you haven't contributed to -->
  <a href="/choose">Add to an existing story</a><br><br>

  <form action="/logout">
    <input type="submit" value="Logout">
  </form>
</center>
{% endblock %}
{% block footer %}
{% endblock %}
