<!DOCTYPE html>
<html>

<head>

  <title>{% block title %}{% endblock %} | Hax4Snax</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    {% block style %}

    {% endblock %}

  </style>
</head>


<body>
  <center>
    <header>
      {% block header %}
      {% endblock %}
    </header>
    {% block content %}

    {% endblock %}
    <footer>
      {% block footer %}
      <br><br><br>
      &copy Copyright 2018 Hax4Snax
      {% endblock %}
    </footer>
  </center>
</body>


</html>
