{% extends "base.html" %}

{% block content %}

<div class = "search" style="height:300px;">
	<form action="{{ url_for('search') }}" method="POST" style="min-width:80%;">
		<a style = "text-decoration-color: crimson;" href = "{{ url_for('index') }}"><h1 style="text-align: center;margin: 20px; color: crimson; font-weight: 300;">Hax4Snax</h1></a>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroupPrepend">I want to eat... </span>
			</div>
			<input type="text" class="form-control" name="query" placeholder="recipes, restaurants, or cuisines" aria-describedby="inputGroupPrepend" required>
			<input type = "submit" value="Search" class="btn btn-primary" style="border-radius: 0px 5px 5px 0px; background-color: crimson; border-color: crimson;">
			<div class="invalid-feedback">
				Please enter a query
			</div>
		</div>
		<div id = "search-selectors" style = "padding: 10px; text-align: center;">
			<div class="form-check form-check-inline">
				<input class="form-check-input" name = "recipes" type="checkbox" id="recipe-checkbox" checked>
				<label class="form-check-label" for="recipe-checkbox">Recipes</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" name = "restaurants" type="checkbox" id="restaurant-checkbox">
				<label class="form-check-label" for="restaurant-checkbox">Restaurants</label>
			</div>
		</div>
	</form>
</div>
<hr>
<div class = "row">
	{% for item in results %}
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding:10px;">
		<div class = "card">
			{% if item.img %}
				<div class = "img-container" style="padding-top: 75%; background-size: cover; background-position: center; background-image: url('{{ item.img }}')"></div>
			{% else %}
				<div class = "img-container" style="padding-top: 75%; background-size: contain; background-position: center; background-image: url({{ url_for('static', filename='img/no_image_available.png') }}); background-repeat: no-repeat;"></div>
			{% endif %}
			<div class="card-body" style="height: 100%;">
				<h5 class="card-title">{{ item.title }}</h5>
				<p class="card-text">{{ item.desc | safe }}</p>
				<a href="{{ item.link }}" style="color: crimson;">More Info</a>
			</div>
		</div>
	</div>
	{% endfor %}
	{% if results|length == 0 %}
		<h2 style="text-align: center;width: 100%;padding: 50px;color: crimson;font-weight: 300;">Sorry, we couldn't find anything for your search</h2>
	{% endif %}
</div>

{% endblock %}
