<!DOCTYPE html>
<head>
  <style>


.bar {
  fill: steelblue;
}

.checkbox {
margin: 20px auto;
display: inline-block;
width: 25%;
}
</style>
  </head>

<body>
District: {{district}}

<div class="container">
          <form role="form" class="categories">
          </form>
    <div class="col-md-8">
      <div class="graph"></div>
    </div>
  </div>
  <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <script src="https://d3js.org/d3-scale.v3.min.js"></script>
  <script>var district = {{district}}</script>
  <script src="../static/barchart.js"></script>
</body>

</html>
