<!DOCTYPE html>
<head>
  <style>


.bar {
  fill: steelblue;
}

.checkbox {
margin: 20px auto;
display: inline-block;
width: 25%;
}
</style>
  </head>

<body>
<p>Pick a district.</p>
<select id="district">
  <option value="SOUTHEAST">Southeast</option>
  <option value="NORTHWEST">Northwest</option>
  <option value="NORTH">North</option>
  <option value="SOUTHWEST">Southwest</option>
  <option value="NORTHEAST">Northeast</option>
  <option value="DOWNTOWN">Downtown</option>
</select>

<div class="container">
          <form role="form" class="categories">
          </form>
    <div class="col-md-8">
      <div class="graph"></div>
    </div>
  </div>
  <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <script src="../static/barchart.js"></script>
</body>

</html>
