{% extends "home.html" %}

{% block title %} Chart {% endblock %}

{% block content %}

<div class="grid-container">
{{stuff|safe}}
</div>

<br>
<center><h3>Click on the links below to find more options for charts!</h3></center>

<div class="grid-x grid-padding-x">
    <div class="cell small-4 large-4"><div class="card">
	<div class="card-divider">
	  <h4><a href="/prices">Prices</a></h4>
	</div>
	</div></div>

    <div class="cell small-4 large-4"><div class="card">
	<div class="card-divider">
	  <h4><a href="/exchanges">Exchange</a></h4>
	</div>
	</div></div>

    <div class="cell small-4 large-4"><div class="card">
	<div class="card-divider">
	  <h4>More to be added!</h4>
	</div>
	</div></div>

  </div>

</div>
{% endblock %}
