{% extends "home.html" %}

{% block title %} Coins {% endblock %}

{% block content %}
<h2 class="text-center"><strong> Dashboard </strong> </h2>
<h4 class="text-center"> Below is assorted data for all the coins supported on the Nomics API. The price is in USD </h4>
<div class="grid-container">
	<table class="hover">
		<thead>
			<tr>
				<th>Currency</th>
				<th>Current Price</th>
				<th>Day Open</th>
				<th>Day Volume</th>
				<th>Week Open</th>
				<th>Week Volume</th>
				<th>Available Supply</th>
				<th>Maximum Supply</th>
			</tr>
		</thead>
		<tbody>
		{% for dict in big_dict %}
			<tr>
				<td> {{ dict.currency }} </td>
				<td> ${{ dict.close }} </td>
				<td> ${{ dict.dayOpen }} </td>
				<td> {{ dict.dayVolume }} </td>
				<td> ${{ dict.weekOpen }} </td>
				<td> {{ dict.weekVolume }} </td>
				<td> {{ dict.availableSupply }} </td>
				<td> {{ dict.maxSupply }} </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
