<!DOCTYPE html>
<html lang="en" >
  <head>

    <!-- foundation -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      CryptUwU |
      {% block title %}
      {% endblock %}
    </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/css/foundation.min.css" integrity="sha256-1mcRjtAxlSjp6XJBgrBeeCORfBp/ppyX4tsvpQVCcpA= sha384-b5S5X654rX3Wo6z5/hnQ4GBmKuIJKMPwrJXn52ypjztlnDK2w9+9hSMBz/asy9Gw sha512-M1VveR2JGzpgWHb0elGqPTltHK3xbvu3Brgjfg4cg5ZNtyyApxw/45yHYsZ/rCVbfoO5MSZxB241wWq642jLtA==" crossorigin="anonymous">

    {% block static %}
    <!--<link rel="stylesheet" href="css/app.css">    <!-- for custom css -->
    <!--<link rel="stylesheet" href="js/app.css">    <!-- for custom js -->

    {% endblock %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/js/foundation.min.js"></script>
    
    
  </head>
  <body>
   
    {% block pageTop %}{% endblock %}
    {% block content %}{% endblock %}

    <br><hr>
    <div id="footer" class="grid-container">
      <div class="grid-x grid-padding-x">
	<div class="cell">	
      {% block footer %}
      
      <h6 class="text-center"> &copy; Copyright 2019 by Nahasapeemapetilon</h6>
      
      {% endblock %}
	</div>
	
      </div>
    </div>
    
    <script>
      $(document).foundation();
    </script>
    
  </body>
</html>
