{% extends "home.html" %}

{% block title %} Prices {% endblock %}

{% block content %}
<br>
<br>

<div class="grid-container">
<form action="/chart" method="POST">
  
  Coins:
  <select name="coin">
    {% for coin in coins %}
    <option value={{coin}}>{{coin}}</option>
    {% endfor %}
  </select>

  Start Date:<br>
  <input type="date" name="start" min="2018-01-14">

  End Date: (optional)<br>
  <input type="date" name="end" min="2018-01-15">

  <input class="button" type="submit">
  
</form>
</div>


{% endblock %}
